<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index_03</title>
</head>
<body>

	<!-- 
		선택 객체의 변수식
		- 변수식은 기본적으로 컨트롤러 측이 준비한 값을 그대로 출력하는 것이 전부임.
		  하지만 숫자나 텍스트를 값으로 사용할 때는 문제가 없지만 객체를 사용하려고
		  하면 문제가 발생함.
		- 물론 ${object.name} 처럼 객체의 프로퍼티나 메서드를 지정해서 작성하면
		  되지만 객체 안의 다수의 값이 존재하는 경우 일일이 작성하는 것은 매우 귀찮은
		  일이 됨. 그 뿐만 아니라 객체 이름이 변경이 되면 이미 정의한 이름들도
		  모두 변경해야 하므로 감당하기 힘든 작업이 될 수도 있음.
		- 이런 경우 객체를 지정해서 해당 객체 않에 있는 값을 추출할 수 있는
		  전용 변수식을 사용하면 됨.
		  
		  형식) *{}
		       <00 th:object=${객체}>
		        <DD th:text="$*{프로퍼티명}"
		        
		- 태그에 th:object 라는 속성을 사용해서 객체를 설정함.
		  이렇게 하면 해당 태그 내부에서 *{ } 를 이용한 변수식을 사용할 수 있게 됨.
		  이 별표(*) 형태의 변수식에서는 객체 내의 프로프티 등을 이름만으로 지정 가능.
	 -->
	
	<div align="center">
		<h1>Thymeleaf 페이지</h1>
		
		<table border="1" th:object="${Object}">
			<tr>
				<th>번호</th>
				<td th:text="*{num}"></td>
			</tr>
			
			<tr>
				<th>이름</th>
				<td th:text="*{name}"></td>
			</tr>
			
			<tr>
				<th>이메일</th>
				<td th:text="*{email}"></td>
			</tr>
		</table>
	</div>
	
</body>
</html>